h1, h2, h3, ul, p {
    margin: 0px;
}

img {
    max-width: 100%;
}

.sidebar-cont {
    background-color: #ffaec9;
    float: left;
    position: fixed;
    width: 200px;
}

#content {
    margin-left: 200px;
    overflow: hidden;
}

.navbar {
    margin: 0px;
    width: 300px;
}

.navbar > li {
    list-style: none;
}

.navbar > li > a {
    color: #ffffff;
    font-size: 1.25em;
    font-weight: 200;
}